<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>

</head>
<body>
    <form action="users/loginUsers" method="get" enctype="application/x-www-form-urlencoded">
        <input type="email" placeholder="Gmail" name="gmail">
        <input type="password" placeholder="Password" name="passWord">
        <button type="submit" class="btn btn-secondary">Đăng nhập</button>
    </form>
</body>
</html>
